<div>
  <h2>Admin</h2>
  <em>Yes, I know, this is terrible security. It's not meant to be secured just yet. If you've gotten this far, you might as well see the back-end, you nosy bugger.</em>

  <div class="row">
    <a class="btn btn-primary" ng-href="#/admin/managematerials">Manage materials</a>
    <a class="btn btn-primary" ng-href="#/admin/manageproject">Manage projects</a>
    <a class="btn btn-primary" ng-href="#/admin/managetasks">Manage tasks</a>
    <a class="btn btn-primary" ng-href="#/admin/userlist">Manage users</a>
  </div>
</div>
