<div data-ng-init="ctrl.getAllProjects()">
  <h2>Monitoring</h2>
  <em>Yes, I know, this is terrible security. It's not meant to be secured just yet. If you've gotten this far, you might as well see the back-end, you nosy bugger.</em>
  <div class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a ng-href="#/admin/managematerials">Manage materials</a></li>
      <li class="active"><a ng-href="#/admin/manageproject">Manage projects</a></li>
      <li><a ng-href="#/admin/managetasks">Manage tasks</a></li>
      <li><a ng-href="#/admin/userlist">Manage users</a></li>
    </ul>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>Index</td>
      <td>Name</td>
      <td>UserID</td>
      <td>Money spent</td>
      <td>Time spent</td>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects">
        <td>{{project.id}}</td>
        <td>{{project.name}}</td>
        <td>{{project.userid}}</td>
        <td>{{project.moneyspent}}</td>
        <td>{{project.timespent}}</td>
      </tr>
    </tbody>
  </table>
</div>
