<div data-ng-init="ctrl.getAllTasks()">
  <h2>Monitoring</h2>
  <em>Yes, I know, this is terrible security. It's not meant to be secured just yet. If you've gotten this far, you might as well see the back-end, you nosy bugger.</em>
  <div class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a ng-href="#/admin/managematerials">Manage materials</a></li>
      <li><a ng-href="#/admin/manageproject">Manage projects</a></li>
      <li class="active"><a ng-href="#/admin/managetasks">Manage tasks</a></li>
      <li><a ng-href="#/admin/userlist">Manage users</a></li>
    </ul>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>Index</td>
      <td>UserID</td>
      <td>ProjectID</td>
      <td>Task</td>
      <td>Time</td>
      <td>Cost</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks">
      <td>{{task.id}}</td>
      <td>{{task.userid}}</td>
      <td>{{task.projectid}}</td>
      <td>{{task.description}}</td>
      <td>{{task.time}}</td>
      <td>{{task.cost}}</td>
    </tr>
    </tbody>
  </table>
</div>
