<div class="footer">
  <div class="container">
    <p>This website is still in development. What you see here is purely for show and functionality is limited.</p>
    <div align="left" style="float:left;">
      <p>Questions? Feedback? Email: <a href="mailto:info@cosplayvision.com" class="glyphicon glyphicon-envelope"></a> info@cosplayvision.com</p>
      <p><span class="glyphicon glyphicon-heart"></span> from Cosplay Vision.</p>
    </div>
    <div align="right" style="float:right;">
      <p align="right">Version: 0.1.0</p>
    </div>
  </div>
</div>
